html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    padding: 0;
    background-color: black;
    font-family: "Raleway", sans-serif;
}

.navbar{
    margin-bottom: -100px;
}

#logo{
    width: 40px;
    height: 40px;
    margin-right: 10%;
}

.hero-img{
    display: block;
    width: 100%;
    background-size: cover;
}

.container-img{
    height: 150px;
}